.title {
  color: orange;
  margin-right: 80px;
}

.index {
  text-align: right;
}

.flower {
  text-align: center;
}

.image {
  width: auto;
  height: 500px;
}

.para {
  margin-top: 200px;
}

.submitButton {
  background-color: lightgray;
  border: solid thin black;
  border-radius: 2px;
}
