.title {
  color: orange;
  margin-right: 80px;
}

.index {
  text-align: right;
}

.flower {
  text-align: center;
}

.image {
  width: auto;
  height: 500px;
}

.para {
  margin-top: 200px;
}

.submitButton {
  background-color: lightgray;
  border: solid thin black;
  border-radius: 2px;
}

table,
th,
td {
  background-color: #eee;
  border-collapse: collapse;
  border: 5px solid white;
  padding: 5px 20px;
  line-height: 1.6em;
}
