<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Flower Catalog</title>
  </head>
  <body>
    <div id="flowerTitle">
      <h2><a href="./index.html"><<</a>Guest Book</h2>
      <hr />
    </div>
    <div>
      <h3>Leave a comment</h3>
    </div>
    <div>
      <form id="form" action="addComment" method="POST">
        Name: <input type="text" name="name" required /><br />
      </form>
      Comment: <textarea rows="3" cols="20" name="comment" form="form"></textarea><br />
      <input type="submit" value="Submit" form="form" />
      <hr />
      <table>
        <tr>
          <th>DATETIME</th>
          <th>NAME</th>
          <th>COMMENT-LIST</th>
        </tr>
        __COMMENT-LIST__
      </table>

      <hr />
    </div>
  </body>
</html>
